*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}

// variables(always list them here)
$heading-font:'Montserrat', sans-serif;
$content-font:'Roboto', sans-serif;



$content-color-l:rgba(0,0,0,0.7);
$content-color-l-xl:rgba(0,0,0,0.5);
$content-color-l-xxl:rgba(0,0,0,0.3);
$heading-color-l:rgb(235, 83, 13);
$background-l:rgba(255,255,255,0.95);
$background-l-contrast:rgba(0,0,0,0.05);


$font-size-1:36px;
$font-size-2:28px;
$font-size-3:24px;
$font-size-4:20px;
$font-size-5:18px;
$font-size-6:16px;
$font-size-7:12px;
$font-size-8:8px;


html{
    scroll-behavior: smooth;
}


.topic-container{
    padding:10px;
    h1{
        padding:100px 0px 50px 0px;
        text-align: center;
        font-family: $heading-font;
        color: $heading-color-l;
    }

    .topic-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .topic{

            &:hover{
                -webkit-box-shadow: 5px 5px 34px -6px rgba(0,0,0,0.75);
                -moz-box-shadow: 5px 5px 34px -6px rgba(0,0,0,0.75);
                box-shadow: 5px 5px 34px -6px rgba(0,0,0,0.75);
                transition: box-shadow 0.4s;
            }
            
            transition: box-shadow 0.2s;
            border-radius: 10px;
            padding: 10px;
            margin:20px 10px;
            a{
                text-decoration: none;
                font-family: $content-font;
                color: $content-color-l;
                font-weight: lighter;
                font-size: $font-size-7;
                .content{
                    padding:5px;
                    .image{
                        margin-bottom: 5px;
                        text-align: center;
                        img{
                            display: inline-block;
                            width:100px;
                            padding:20px;
                            border-radius: 50%;
                            background-color: $background-l-contrast;
                        }
                    }

                    .text{
                        text-align: center;
                    }
                }
            }
        }
    }


}



// contests


.available-contest-container{
    padding:100px 10px;
    h1{
        text-align: center;
        font-family: $heading-font;
        color: $heading-color-l;
        padding:50px 0px;
    }

    .available-topic-container{
        h2{
            text-align: center;
            font-family: $heading-font;
            color:$heading-color-l;
            padding:20px 0px 30px 0px;
        }

        .contest-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .registered-contest{

                &:hover{
                    -webkit-box-shadow: 9px 9px 49px -14px rgba(0,0,0,0.75);
                    -moz-box-shadow: 9px 9px 49px -14px rgba(0,0,0,0.75);
                    box-shadow: 9px 9px 49px -14px rgba(0,0,0,0.75);
                    transition: box-shadow 0.4s;
                }

                transition: box-shadow 0.2s;
                border:1px solid $content-color-l-xxl;
                border-radius: 10px;
                margin:20px;

                .contest-head{
                    
                    padding: 10px;
                    display: flex;
                    justify-content:center;
                    .image{
                        padding-right: 5px;
                        img{
                            width:100px;
                            padding:20px;
                            border-radius: 50%;
                            background-color: $background-l-contrast;
                        }
                    }
                    .heading{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h2{
                            font-family: $heading-font;
                            color: $heading-color-l;
                            text-align: left;
                            font-size: $font-size-4;
                            padding:2px;
                            
                        }
                        h3{
                            font-family: $content-font;
                            color:$content-color-l;
                            font-weight: lighter;
                            font-size: $font-size-7;
                            text-align: center;
                        }
                    }
                }

                .prize-detail{
                    display: flex;
                    justify-content: space-between;
                    padding:10px 0px;

                    .entry-fee{
                        flex: 1;
                        padding:10px;
                        background-color: $heading-color-l;
                        text-align: center;
                        margin-right: 30px;
                        border-radius: 0px 50px 50px 0px;
                        h5{
                            color:whitesmoke;
                            font-weight: lighter;
                            font-family: $content-font;
                            font-size: $font-size-7;
                        }

                        h3{
                            color:white;
                            font-family: $heading-font;
                            font-size: $font-size-6;
                        }
                    }

                    .prize-ammount{
                        flex:1;
                        padding:10px;
                        background-color: $heading-color-l;
                        text-align: center;
                        margin-left: 30px;
                        border-radius: 50px 0px 0px 50px;
                        h5{
                            color:whitesmoke;
                            font-weight: lighter;
                            font-family: $content-font;
                            font-size: $font-size-7;
                        }

                        h3{
                            color:white;
                            font-family: $heading-font;
                            font-size: $font-size-6;
                        }
                    }
                }

                .details{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    @media screen and (max-width:390px)
                    {
                        justify-content: center;
                    }
                    .opponent{
                        text-align: center;
                        padding: 10px;
                        h5{
                            font-weight: lighter;
                            font-family: $content-font;
                            color:$content-color-l;
                            font-size: $font-size-7;
                        }
    
                        .form{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                           .input{
                               margin:0px 5px;
                            input{
                                cursor: pointer;
                            }
    
                            span{
                                font-family: $heading-font;
                                color:$heading-color-l;
                                font-size: $font-size-6;
                            }
                           }
                        }
                    }

                    .contest-type{
                        text-align: center;
                        padding: 10px;
                        h5{
                            font-weight: lighter;
                            font-family: $content-font;
                            color:$content-color-l;
                            font-size: $font-size-7;
                        }
    
                        h3{
                            font-family: $heading-font;
                            color:$heading-color-l;
                            font-size: $font-size-6;
                        }
                    }
                }

                .start-match{
                    padding:10px 0px;
                    text-align: center;
                    button{
                        padding:5px 30px;
                        outline:none;
                        border:1px solid $heading-color-l;
                        color:$heading-color-l;
                        font-family: $content-font;
                        background-color: white;
                        border-radius: 5px;
                        transition: background-color 0.3s;
                        &:hover{
                            cursor: pointer;
                        }

                        &:active{
                            background-color: $heading-color-l;
                            color:white;
                            transition: background-color 0.3s;
                        }

                    }
                }
            }
        }
    }
}



// organiser

.organiser-section{
    background-color:$heading-color-l;
    padding:50px 10px 100px 10px;
    text-align: center;
    h1{
        font-family: $heading-font;
        color:whitesmoke;
        padding:50px 0px 0px 10px;
    }

    p{
        color:whitesmoke;
        font-family: $content-font;
        padding-bottom: 20px;
    }

    form{
        padding:10px;
        input{
            border:none;
            border-bottom:1px solid $heading-color-l;
            color:$heading-color-l;
            font-family: $content-font;
            padding:10px;
            outline:none;
            width:500px;

            @media screen and (max-width:650px){
                width:90%;
            }
        }

        button{
            margin-top: 20px;
            text-decoration: none;
            font-family: $content-font;
            padding:10px 30px;
            border:1px solid white;
            border-radius: 2px;
            background-color:white;
            color:$heading-color-l;
            transition: background-color 0.2s;
            outline:none;
            &:active{
               color:white;
               background-color:$heading-color-l;
               transition: background-color 0.4s;
            }

            &:hover{
               cursor: pointer;
            }
        }
    }


}