html {
  scroll-behavior: smooth;
}

.landing-container {
  padding: 10px;
}
.landing-container .landing {
  padding: 100px 20px 50px 20px;
  text-align: center;
}
.landing-container .landing .image img {
  width: 500px;
}
@media screen and (max-width: 750px) {
  .landing-container .landing .image img {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .landing-container .landing .image img {
    width: 350px;
  }
}
@media screen and (max-width: 415px) {
  .landing-container .landing .image img {
    width: 300px;
  }
}
@media screen and (max-width: 365px) {
  .landing-container .landing .image img {
    width: 250px;
  }
}
.landing-container .landing .text h1 {
  font-family: "Montserrat", sans-serif;
  color: #eb530d;
  padding: 0px 10px 10px 10px;
}
.landing-container .landing .text p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  padding: 0px 10px 20px 10px;
}
.landing-container .landing .text .buttons {
  padding: 10px;
}
.landing-container .landing .text .buttons a {
  margin: 5px;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #eb530d;
  color: #eb530d;
  border-radius: 5px;
  transition: background-color 0.4s;
}
.landing-container .landing .text .buttons a:hover {
  color: white;
  background-color: #eb530d;
  transition: background-color 0.2s;
}

.explore-container {
  padding: 50px 10px;
  text-align: center;
}
.explore-container h1 {
  font-family: "Montserrat", sans-serif;
  color: #eb530d;
  padding: 50px 10px 10px 10px;
}
.explore-container p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  padding: 0px 10px 20px 10px;
}
.explore-container .explore-cards {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.explore-container .explore-cards .card {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.2s;
}
.explore-container .explore-cards .card .image img {
  width: 150px;
}
.explore-container .explore-cards .card:hover {
  -webkit-box-shadow: 4px 4px 15px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 4px 4px 15px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 4px 4px 15px -4px rgba(0, 0, 0, 0.51);
  transition: box-shadow 0.4s;
}
@media screen and (max-width: 700px) {
  .explore-container .explore-cards .card {
    box-shadow: none;
  }
  .explore-container .explore-cards .card:hover {
    box-shadow: none;
  }
}
.explore-container .modes {
  padding: 20px 10px;
}
.explore-container .modes .card .image img {
  width: 300px;
}
@media screen and (max-width: 450px) {
  .explore-container .modes .card .image img {
    width: 250px;
  }
}
.explore-container .modes .card .text {
  padding: 0px 250px;
}
@media screen and (max-width: 900px) {
  .explore-container .modes .card .text {
    padding: 0px 200px;
  }
}
@media screen and (max-width: 800px) {
  .explore-container .modes .card .text {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 600px) {
  .explore-container .modes .card .text {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 450px) {
  .explore-container .modes .card .text {
    padding: 0px 20px;
  }
}
.explore-container .modes .card .text h3 {
  padding: 10px 0px;
  color: #eb530d;
  font-family: "Montserrat", sans-serif;
}
.explore-container .para {
  padding: 0px 250px 20px 250px;
}
@media screen and (max-width: 900px) {
  .explore-container .para {
    padding: 0px 200px 20px 200px;
  }
}
@media screen and (max-width: 800px) {
  .explore-container .para {
    padding: 0px 100px 20px 100px;
  }
}
@media screen and (max-width: 600px) {
  .explore-container .para {
    padding: 0px 50px 20px 50px;
  }
}
@media screen and (max-width: 450px) {
  .explore-container .para {
    padding: 0px 20px 20px 20px;
  }
}

.login-container {
  padding: 150px 10px 50px 10px;
  text-align: center;
}
.login-container h1 {
  font-family: "Montserrat", sans-serif;
  color: #eb530d;
}
.login-container .login-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 10px;
}
.login-container .login-div .login {
  margin-bottom: 50px;
  padding: 5px;
}
.login-container .login-div .login h2 {
  font-family: "Montserrat", sans-serif;
  color: #eb530d;
  padding-bottom: 20px;
}
.login-container .login-div .login form {
  padding: 5px;
}
.login-container .login-div .login form input {
  padding: 5px;
  width: 300px;
  margin: 5px 0px;
  outline: none;
  border: none;
  border-bottom: 1px solid #eb530d;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.login-container .login-div .login form button {
  margin: 5px;
  padding: 10px 30px;
  text-decoration: none;
  border: 1px solid #eb530d;
  color: #eb530d;
  color: white;
  background-color: #eb530d;
  border-radius: 5px;
  transition: background-color 0.4s;
  outline: none;
}
.login-container .login-div .login form button:hover {
  color: #eb530d;
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s;
  cursor: pointer;
}
.login-container .login-div .login form a {
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.login-container .login-div .login form .facebook {
  background-color: rgba(10, 25, 228, 0.7);
  color: whitesmoke;
}
.login-container .login-div .login form .twitter {
  background-color: #0bb2ff;
  color: whitesmoke;
}
.login-container .login-div .login form .google {
  background-color: #fa8954;
  color: whitesmoke;
}

/*# sourceMappingURL=index.css.map */
