*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}

// variables(always list them here)
$heading-font:'Montserrat', sans-serif;
$content-font:'Roboto', sans-serif;



$content-color-l:rgba(0,0,0,0.7);
$content-color-l-xl:rgba(0,0,0,0.5);
$heading-color-l:rgb(235, 83, 13);
$background-l:rgba(255,255,255,0.92);
$background-l-contrast:rgba(0,0,0,0.03);


$font-size-1:36px;
$font-size-2:28px;
$font-size-3:24px;
$font-size-4:20px;
$font-size-5:18px;
$font-size-6:16px;
$font-size-7:12px;




.quiz-container{
    padding:10px;
    h1{
        padding:100px 0px 50px 0px;
        text-align: center;
        color:$heading-color-l;
        font-family: $heading-font;
        @media screen and (max-width:350px)
        {
             font-size: $font-size-2;
        }
    }

    .quiz-box{
        padding:20px;
        @media screen and (max-width:500px)
        {
                padding:10px;
        }
        .question{

            @media screen and (max-width:1200px)
            {
                padding:20px 100px;
            }
            @media screen and (max-width:800px)
            {
                padding:20px 50px;
            }
            @media screen and (max-width:500px)
            {
                padding:20px 20px;
            }
            padding:20px 200px;
            text-align: justify;
            background-color: $background-l-contrast;
            border-radius: 20px;
            p{
                color:$content-color-l;
                font-family: $content-font;
                font-size: $font-size-4;
                @media screen and (max-width:500px)
                {
                    font-size: $font-size-5;
                }
            }
            .image{
                text-align: center;
                img{
                    border-radius: 10px;
                    -webkit-box-shadow: 9px 9px 49px -14px rgba(0,0,0,0.75);
                    -moz-box-shadow: 9px 9px 49px -14px rgba(0,0,0,0.75);
                    box-shadow: 9px 9px 49px -14px rgba(0,0,0,0.75);
                    margin:10px;
                    width:300px;
                    @media screen and (max-width:400px)
                    {
                         margin:10px 0px;
                         width:250px;
                    }
                    @media screen and (max-width:340px)
                    {
                         margin:10px 0px;
                         width:220px;
                    }
                }
            }
            
        }

        .options{
            padding:50px 200px;
            @media screen and (max-width:1000px)
            {
                 padding: 50px 150px;
            }
            @media screen and (max-width:900px)
            {
                 padding: 50px 100px;
            }
            @media screen and (max-width:600px)
            {
                 padding: 50px 50px;
            }
            @media screen and (max-width:460px)
            {
                 padding: 50px 20px;
            }
            @media screen and (max-width:350px)
            {
                 padding: 50px 0px;
            }

            h2{
                color:$heading-color-l;
                font-family: $heading-font;
                padding:20px 0px;
            }

            .option-container{
                padding-bottom:100px;
                .option{
                    display: flex;
                    padding:10px;
                    margin:10px 0px;
                    input{
                        margin-right:10px;
                        cursor:pointer;
                    }

                    [type="radio"]:checked,
                    [type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                    }
                    [type="radio"]:checked + label,
                    [type="radio"]:not(:checked) + label
                    {
                     position: relative;
                     padding-left: 28px;
                     cursor: pointer;
                     line-height: 20px;
                     display: inline-block;
                     color: #666;
                    }
                    [type="radio"]:checked + label:before,
                    [type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #ddd;
                    border-radius: 100%;
                    background: #fff;
                    }
                    [type="radio"]:checked + label:after,
                    [type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: $heading-color-l;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    }
                    [type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                    }
                    [type="radio"]:checked + label:after {
                     opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    }

                    label{
                        text-align: justify;
                        font-family: $content-font;
                        color:$content-color-l;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }

        }
    }
}




.quiz-nav-container{
    position: fixed;
    width:100%;
    bottom:0vh;
    -webkit-box-shadow: 0px -8px 42px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -8px 42px -10px rgba(0,0,0,0.75);
    box-shadow: 0px -8px 42px -10px rgba(0,0,0,0.75);
    background-color: $background-l;
    padding:10px;
    .quiz-nav{
        display: flex;
        justify-content: space-around;
        padding:5px 0px;
        .timer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            span{
                padding:5px 20px;
                border: 1px solid $heading-color-l;
                border-radius: 3px;
                color:$heading-color-l;
                font-family:$heading-font;
            }
        }

        .submit{
            display: flex;
            flex-direction: column;
            justify-content: center;
            button{
                border:1px solid $heading-color-l;
                outline: none;
                border-radius: 3px;
                padding:5px 20px;
                background-color: $heading-color-l;
                color:whitesmoke;
                font-family: $heading-font;
                transition:background-color 0.2s;
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    background-color: white;
                    color:$heading-color-l;
                    transition:background-color 0.2s;
                }
            }
        }
    }
}